---
layout: default.ejs
title: Главная
---

<div class="container">
    <h1>РУ главная</h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam inventore illum, perspiciatis explicabo dicta nemo odit saepe nesciunt nam tempore nihil veritatis quisquam eos, eius suscipit distinctio voluptate tempora in.</p>

    <ul>
        <li><a href="<%= fn11ty.locale_url('/', page.lang) %>">Home page</a></li>
        <li><a href="<%= fn11ty.locale_url('/about', page.lang) %>">About page</a></li>
    </ul>
</div>
